.dashboard-item {
	img {
		width: 70%;
		height: auto;
		max-width: 100%;
		max-height: 100%;
	}
}

.color_item {
	div {
		width: 30%;
		span {
			border: none;
			height: calc(1.5em + 0.75rem + 2px);
			display: inline-block;
			border-radius: 10px;
			border: solid 1px;
		}
	}
}

.unread_msg {
	width: 15px;
	height: 15px;
	display: block;
	background: $pink;
	border-radius: 50%;
	border: solid 1px;
}

.read_msg {
	width: 15px;
	height: 15px;
	display: block;
	background: $white;
	border-radius: 50%;
	border: solid 1px;
}

tr:hover {
	cursor: pointer;
	background-color: #ffb7c245;
}

.unread_sidebar {
	width: 22px;
	height: 22px;
}
@media (min-width: 768px) {
	.admin_layout {
		padding-right: 280px !important;
	}
	.dashboard-item {
		img {
			height: 180px;
			width: 200px;
		}
	}
}
